<% provide(:title, 'About') %>
  <h1>About</h1>
  <p>
   This website is made for baseball fans by baseball fans. The site will be all about baseball and will start with a page to review BBCOR bats.
  </p>
