<div id="carousel">    
  <div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item">
        <%= image_tag "CamdenYards.jpg" %>
        <div class="carousel-caption">
          <p>Camden Yards</p>
          <p><a href= "http://baltimore.orioles.mlb.com">Baltimore Orioles &raquo;</a></p>
        </div>
      </div>
      <div class="item"><%= image_tag "PNCPark.jpg" %></div>
      <div class="item"><%= image_tag "NationalsPark.jpg" %></div>
    </div>
    
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>
</div>

  <p>
    This is the home page for Baseball Talk 24/7.
  </p>
  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
