<div class="center hero-unit">
  <h1>Baseball Talk 24/7</h1>
  <p>
    Coming soon! You can sign up for the site before it is available.
  </p><br>
  <h3>What is Baseball Talk 24/7?</h3>
  <p>
    Baseball Talk 24/7 is a site for baseball fans made by baseball fans. Continue to check the progress of the site because I am working on it constantly.
  </p>
  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
</div>

