<tbody>

  <tr>
    <td><%= bat.manufacturer.name %></td>
    <td><%= bat.model_name %></td>
    <td><%= link_to bat.model_number, bats_adult_path + '/' + bat.model_number %></td>
    <td>Rating</td>
    <td>Write Review</td>
    <td><%= link_to image_tag(bat.image_path), bats_adult_path + '/' +  bat.model_number %></td>
  </tr>

</tbody>
