<% provide(:title, 'Adult Bat List') %>
<h1>Adult Baseball Bat List</h1>
  <p>
    This is the page for reviews of Adult baseball bats for Baseball Talk 24/7.
  </p>

<div class= "batlist">
<%= will_paginate %>

<table class="table">
  <thead>
    <tr>
      <th>Manufacturer</th>
      <th>Model Name</th>
      <th>Model Number</th>
      <th>Rating</th>
      <th>Reviews</th>
      <th>Pic</th>
    </tr>
  </thead>
  <%= render @bats %>
</table>

<%= will_paginate %>
</div>
