<% provide(:title, 'Bat Brands') %>
<h1>Adult Baseball Bat List</h1>
<%= link_to "Back to Bats", bats_path %></br>
  <p>
    This is the page for all of the bat brands.
  </p>

<div class= "batbrands">

<table class="table table-striped">
  <tbody>
  <tr>
    <td>Akadema</td>
    <td>Anderson</td>
    <td>Baden</td>
  </tr>
  <tr>
    <td><%= image_tag "akadema.jpg" %></td>
    <td>Picture1</td>
    <td>Picture2</td>
  </tr>
  <tr>
    <td>Bass</td>
    <td>Boombah</td>
    <td>Carrera Sports Company</td>
  </tr>
  <tr>
    <td>Picture</td>
    <td>Picture1</td>
    <td>Picture2</td>
  </tr>
   <tr>
    <td>Combat</td>
    <td>DeMarini</td>
    <td>Dream Bat Company</td>
  </tr>
  <tr>
    <td>Picture</td>
    <td>Picture1</td>
    <td>Picture2</td>
  </tr>
</tbody>
</table>

</div>

