<% provide(:title, 'Bat Brands') %>
<h1>Adult Baseball Bat List</h1>
<%= link_to "Back to Bats", bats_path %></br>
  <p>
    This is the page for all of the bat brands.
  </p>

<div class= "batbrands">

<table class="table table-striped">
  <tbody>
  <% @manufacturers.each do |manufacturer| %>
  <tr>
    <td><%= manufacturer.name %><br><br> Image of brand</td>
  </tr>
  <% end %>
</tbody>
</table>

</div>

