<% provide(:title, 'Bat Reviews') %>
<div>
  <h1>Baseball Bat Reviews</h1>
  <p>
    This is the page for reviews of baseball bats for Baseball Talk 24/7.
  </p>
  <%= link_to "Adult Bats", bats_adult_path, class: "btn btn-large btn-info" %>
  <%= link_to "Bat Brands", bats_brands_path, class: "btn btn-large btn-info" %>
  <%= link_to "Write a Review!", reviews_new_path, class: "btn btn-large btn-info" %>

</div>
