<h1>All Users</h1>
<table>
  <tr>
    <th>User Id</th>
    <th>Username</th>
    <th>Email</th>
  </tr>
  <% @users = User.all %>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.username %></td>
      <td><%= user.email %></td>
    </tr>
  <% end %>
</table>
