<li>
  <span class="pros">
    <h4>What I like about this bat:</h4>
    <%= review.pros %></span>
  <span class="cons">
    <h4>What I don't like about this bat:</h4>
    <%= review.cons %></span></br>
  <span class="timestamp">
    Posted <%= time_ago_in_words(review.created_at) %> ago.
  </span>
</li>
