<tbody>
  <tr>
    <td><%= reviews.manufacturer %></td>
    <td><%= reviews.model_name %></td>
    <td><%= reviews.model_number %></td>
    <td>Rating</td>
    <td>Write Review</td>
    <td><%= image_tag reviews.image_path %></td>
  </tr>
</tbody>
