<% provide(:title, 'Adult Bat Reviews') %>
<h1>Adult Baseball Bat Reviews</h1>
  <p>
    This is the page for reviews of Adult baseball bats for Baseball Talk 24/7.
  </p>

<%= will_paginate %>

<table class="table">
  <%= render @reviews %>
</table>

<%= will_paginate %>
