<% provide(:title, 'Write A Review') %>
<div>
  <h1>Write a Review!</h1>
  <%= link_to "Back to Bats", bats_path %></br>
  <p>choose bat from list</p>
  <section>
    <%= render 'shared/review_form' %>
  </section>
</div>
